# --- QMIX specific parameters ---

# use epsilon greedy action selector
action_selector: "epsilon_greedy"
epsilon_start: 1.0
epsilon_finish: 0.05
# epsilon_anneal_time: 50000
epsilon_anneal_proportion: 0.8
epsilon_oscillation: False # epsilonを振動させる

enable_fixed_wait_action_prob: True # Trueなら、epsilon-greedyでランダム行動を取るときに待機行動が選ばれる確率がfixed_wait_action_probに固定される
fixed_wait_action_prob: 0

runner: "episode"

buffer_size: 5000

# update the target network every {} episodes
target_update_interval: 200

# use the Q_Learner to train
agent_output_type: "q"
learner: "q_learner"
double_q: True
mixer: "qmix"
mixing_embed_dim: 32
hypernet_layers: 2
hypernet_embed: 64

name: "qmix"
